/* Buttons container */
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 40px 0;
}

/* Button variations */
.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  background: transparent;
  color: var(--accent);
  padding: 5px 18px;
  border: 4px solid var(--accent);
  border-radius: var(--radius);
  transition: background 0.15s linear;
  appearance: none;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background: color-mix(in srgb, var(--accent) 15%, transparent);
}

.button:focus-visible {
  outline: 1px solid var(--accent);
  outline-offset: 2px;
}

/* Button styles */
.button.outline {
  background: transparent;
  box-shadow: none;
  padding: 8px 18px;
}

.button.link {
  background: none;
  font-size: 1rem;
  border: none;
  text-decoration: underline;
  text-underline-offset: 3px;
  padding: 0;
}

.button.link:hover {
  background: none;
  text-decoration: none;
}

.button.small {
  font-size: calc(var(--font-size) * 0.8);
}

.button.wide {
  min-width: 200px;
  padding: 14px 24px;
}

/* Inline button (read more links) */
.button.inline {
  background: transparent;
  border: none;
  padding: 0;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: 400;
}

.button.inline:hover {
  text-decoration: none;
  background: transparent;
}

/* Read more link */
.read-more {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: var(--accent);
  margin-top: 10px;
}

.navigation-menu svg {
  height: 1em;
  transform: translateY(2.5px);
}

.navigation-menu a {
  text-decoration: none !important;
  &:not(:has(svg))::after {
    left: -0.5ch;
  }
  svg {
    transition: rotate 1s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform-origin: 50% calc(50% + 2.5px);
  }
  &:hover svg {
    rotate: 360deg;
  }
  &::after {
    display: block;
    position: absolute;
    inset: 0;
    left: 0ch;
    right: -0.5ch;
    border-top: 0px solid var(--accent);
    border-left: 0px solid var(--accent);
    border-right: 0px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    content: "";
    transition:
      border-top 0.125s ease,
      border-bottom 0.125s ease 0.125s,
      border-left 0.125s ease 0.0625s,
      border-right 0.125s ease 0.0625s;
  }
  &:hover::after {
    border-top: 2px solid var(--accent);
    border-left: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
    transition:
      border-top 0.125s ease 0.125s,
      border-bottom 0.125s ease,
      border-left 0.125s ease 0.0625s,
      border-right 0.125s ease 0.0625s;
  }
}
